<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpaceDucks Analytics</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      body {
        background-color: #0d0d0d;
        color: #ffffff;
        font-family: Arial, sans-serif;
      }

      #scatterplot {
        background-color: #1a1a1a;
      }
    </style>
  </head>
  <body>
    <div style="width: 75%; margin: auto; text-align: center">
      <img src="../static/sd_logo.png" alt="SpaceDuck Logo" />
      <h1
        style="
          font-family: 'Arial Black', sans-serif;
          font-size: 36px;
          color: #ffffff;
          text-shadow: 2px 2px 4px #000000;
        "
      >
        PINKEYE<span style="font-weight: bold">01</span> Altitude
      </h1>
      <canvas id="scatterplot"></canvas>
    </div>
    <script>
      $(document).ready(function () {
        var ctx = document.getElementById("scatterplot").getContext("2d");
        var duckImage = new Image();
        duckImage.src = "../static/favicon-16x16.png";

        var scatterChart = new Chart(ctx, {
          type: "scatter",
          data: {
            datasets: [
              {
                label: "Altitude",
                borderColor: "#ffbb00",
                backgroundColor: "transparent",
                pointStyle: function (context) {
                  return duckImage;
                },
                pointRadius: 3,
                pointHoverRadius: 6,
                data: [], // Initial empty dataset
              },
            ],
          },
          options: {
            responsive: true,
            scales: {
              x: {
                type: "time",
                ticks: {
                  autoSkip: true,
                  maxTicksLimit: 10,
                  color: "#ffffff",
                },
                time: {
                  unit: "second",
                  stepSize: 30,
                  displayFormats: {
                    minute: "HH:mm",
                  },
                },
                scaleLabel: {
                  display: true,
                  labelString: "Time",
                  color: "#ffffff",
                },
              },
              y: {
                grid: {
                  color: "#555555",
                },
                scaleLabel: {
                  display: true,
                  labelString: "Altitude",
                  color: "#ffffff",
                },
              },
            },
          },
        });

        // Function to update chart with new data
        function updateChart(data) {
          scatterChart.data.datasets[0].data.push(data);
          scatterChart.update();
        }

        // Function to fetch initial data from backend
        function fetchInitialData() {
          $.ajax({
            url: "/fetch_initial_data/",
            type: "GET",
            dataType: "json",
            success: function (initialData) {
              if (
                Array.isArray(initialData.data) &&
                initialData.data.length > 0
              ) {
                // If there is previously sent data, update the chart with each data point
                initialData.data.forEach(function (dataPoint) {
                  var formattedData = {
                    x: new Date(dataPoint.x * 1000),
                    y: dataPoint.y,
                  };
                  updateChart(formattedData);
                });
              } else {
                // If there is only one data point, update the chart with it
                var formattedData = {
                  x: new Date(initialData.data.x * 1000),
                  y: initialData.data.y,
                };
                updateChart(formattedData);
              }
            },
            error: function (xhr, status, error) {
              console.error("Error fetching initial data:", error);
            },
          });
        }

        // Fetch initial data when the page loads
        fetchInitialData();

        // Function to fetch data from backend
        function fetchData() {
          $.ajax({
            url: "/scatterplot-data/",
            type: "GET",
            dataType: "json",
            success: function (data) {
              if (
                Object.keys(data).length === 0 &&
                data.constructor === Object
              ) {
                // Empty response, do nothing
                return;
              }
              var formattedData = {
                x: new Date(data.x * 1000),
                y: data.y,
              };
              updateChart(formattedData);
            },
            error: function (xhr, status, error) {
              console.error("Error fetching data:", error);
            },
          });
        }

        // Fetch data every # second
        setInterval(fetchData, 1000);
      });
    </script>
  </body>
</html>
