<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpaceDucks Analytics</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Import Shivank's distance.js file -->
    <script src="../static/scripts/distance.js"></script>

    <style>
      body {
        background-color: #0d0d0d;
        color: #ffffff;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 20px;
        padding: 20px;
      }

      .chart {
        background-color: #1a1a1a;
      }

      h2,
      h1 {
        font-family: "Arial Black", sans-serif;
        font-size: 24px;
        color: #ffffff;
        text-shadow: 2px 2px 4px #000000;
        margin-bottom: 10px;
        text-align: center;
      }

      #logo {
        display: block;
        margin: 20px auto;
        max-width: 200px;
      }
    </style>
  </head>
  <body>
    <img id="logo" src="../static/sd_logo.png" alt="SpaceDuck Logo" />
    <h1>PINKEYE Launch</h1>
    <div class="container">
      <div class="chart-container">
        <h2>Altitude</h2>
        <canvas id="altitude-chart" class="chart"></canvas>
        <div>
          <label for="time-to-ground">Time to hit the ground:</label>
          <input type="text" id="time-to-ground" name="time-to-ground" />
        </div>
      </div>

      <!-- <div class="chart-container">
        <h2>Internal Temperature</h2>
        <canvas id="internal-temp-chart" class="chart"></canvas>
      </div>

      <div class="chart-container">
        <h2>Internal Pressure</h2>
        <canvas id="internal-pressure-chart" class="chart"></canvas>
      </div> -->
    </div>
    <script>
      $(document).ready(function () {
        var ctxAltitude = document
          .getElementById("altitude-chart")
          .getContext("2d");
        // var ctxInternalTemp = document
        //   .getElementById("internal-temp-chart")
        //   .getContext("2d");
        // var ctxInternalPressure = document
        //   .getElementById("internal-pressure-chart")
        //   .getContext("2d");
        var duckImage = new Image();
        duckImage.src = "../static/favicon-16x16.png";

        function createChart(ctx, label, dataKey) {
          return new Chart(ctx, {
            type: "line",
            data: {
              datasets: [
                {
                  label: label,
                  borderColor: "#ffbb00",
                  backgroundColor: "transparent",
                  // If want to use duck image for the points, uncomment this
                  // pointStyle: function (context) {
                  //   return duckImage;
                  // },
                  pointRadius: 3,
                  pointHoverRadius: 6,
                  pointBorderWidth: 2,
                  data: [], // Initial empty dataset
                },
              ],
            },
            options: {
              responsive: true,
              scales: {
                x: {
                  type: "time",
                  ticks: {
                    autoSkip: true,
                    maxTicksLimit: 10,
                    color: "#ffffff",
                  },
                  time: {
                    unit: "second",
                    stepSize: 30,
                    displayFormats: {
                      minute: "HH:mm",
                    },
                  },
                  scaleLabel: {
                    display: true,
                    labelString: "Time",
                    color: "#ffffff",
                  },
                },
                y: {
                  grid: {
                    color: "#555555",
                  },
                  scaleLabel: {
                    display: true,
                    labelString: label,
                    color: "#ffffff",
                  },
                },
              },
            },
          });
        }

        var altitudeChart = createChart(ctxAltitude, "Altitude", "Altitude");
        // var internalTempChart = createChart(
        //   ctxInternalTemp,
        //   "Internal Temperature",
        //   "Internal Temp"
        // );
        // var internalPressureChart = createChart(
        //   ctxInternalPressure,
        //   "Internal Pressure",
        //   "Internal Pressure"
        // );

        var fetchingData = true; // Variable to track whether data is being fetched or not

        function updateChart(chart, data) {
          chart.data.datasets[0].data.push(data);
          chart.update();
        }

        function fetchData(chart, url, dataKey) {
          if (!fetchingData) return;

          $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            success: function (data) {
              if (
                Object.keys(data).length === 0 &&
                data.constructor === Object
              ) {
                return;
              }
              var formattedData = {
                x: new Date(data.x * 1000),
                y: data.y[dataKey],
              };
              updateChart(chart, formattedData);
            },
            error: function (xhr, status, error) {
              console.error("Error fetching data:", error);
            },
          });
        }

        function fetchInitialData(chart, url, dataKey) {
          $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            success: function (initialData) {
              if (
                Array.isArray(initialData.data) &&
                initialData.data.length > 0
              ) {
                initialData.data.forEach(function (dataPoint) {
                  var formattedData = {
                    x: new Date(dataPoint.x * 1000),
                    y: dataPoint.y[dataKey],
                  };
                  updateChart(chart, formattedData);
                });
              } else {
                var formattedData = {
                  x: new Date(initialData.data.x * 1000),
                  y: initialData.data.y[dataKey],
                };
                updateChart(chart, formattedData);
              }
            },
            error: function (xhr, status, error) {
              console.error("Error fetching initial data:", error);
            },
          });
        }

        fetchInitialData(altitudeChart, "/fetch_initial_data/", "Altitude");
        // fetchInitialData(
        //   internalTempChart,
        //   "/fetch_initial_data/",
        //   "Internal Temp"
        // );
        // fetchInitialData(
        //   internalPressureChart,
        //   "/fetch_initial_data/",
        //   "Internal Pressure"
        // );
        const TIME_INTERVAL = 2000;

        setInterval(function () {
          fetchData(altitudeChart, "/scatterplot-data/", "Altitude");
        }, TIME_INTERVAL);

        // setInterval(function () {
        //   fetchData(internalTempChart, "/scatterplot-data/", "Internal Temp");
        // }, TIME_INTERVAL);

        // setInterval(function () {
        //   fetchData(
        //     internalPressureChart,
        //     "/scatterplot-data/",
        //     "Internal Pressure"
        //   );
        // }, TIME_INTERVAL);

        setInterval(function () {
          $.ajax({
            url: "/time_to_ground",
            type: "GET",
            dataType: "json",
            success: function (response) {
              $("#time-to-ground").val(response.time_to_ground);
            },
            error: function (error) {
              console.log(error);
            },
          });
        }, TIME_INTERVAL);
      });

      $(document).ready(function () {
        $("#predictButton").click(function () {
          $.ajax({
            type: "GET",
            url: "/predict_next_point/",
            success: function (data) {
              console.log("Prediction successful");
            },
            error: function (xhr, status, error) {
              console.error("Error predicting next point:", error);
            },
          });
        });
      });
    </script>
  </body>
</html>
