<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SpaceDucks Analytics</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      body {
        background-color: #0d0d0d;
        color: #ffffff;
        font-family: Arial, sans-serif;
      }

      #scatterplot {
        background-color: #1a1a1a;
      }
    </style>
  </head>
  <body>
    <div style="width: 75%">
      <canvas id="scatterplot"></canvas>
    </div>
    <script>
      $(document).ready(function () {
        // Initialize Chart.js scatterplot
        var ctx = document.getElementById("scatterplot").getContext("2d");
        var scatterChart = new Chart(ctx, {
          type: "scatter",
          data: {
            datasets: [
              {
                label: "Altitude",
                borderColor: "#ffbb00", // Yellow color for the rocket's path
                backgroundColor: "transparent",
                pointStyle: function (context) {
                  var img = new Image();
                  img.src = "../static/favicon-16x16.png"; // Replace with URL of duck image
                  return img;
                },
                pointRadius: 3, // Decrease the size of the duck points
                pointHoverRadius: 6, // Increase the size of the duck points on hover
                data: [], // Initial empty dataset
              },
            ],
          },
          options: {
            scales: {
              x: {
                type: "time", // Use time scale for x-axis
                ticks: {
                  autoSkip: true,
                  maxTicksLimit: 10,
                  color: "#ffffff", // White color for x-axis labels
                },
                time: {
                  unit: "second",
                  displayFormats: {
                    minute: "HH:mm",
                  },
                },
                scaleLabel: {
                  display: true,
                  labelString: "Time",
                  color: "#ffffff", // White color for x-axis label
                },
              },
              y: {
                grid: {
                  color: "#555555", // Gray color for y-axis grid lines
                },
                scaleLabel: {
                  display: true,
                  labelString: "Altitude",
                  color: "#ffffff", // White color for y-axis label
                },
              },
            },
          },
        });

        // Function to update chart with new data
        function updateChart(data) {
          scatterChart.data.datasets[0].data.push(data);
          scatterChart.update();
        }

        // Function to fetch initial data from backend
        function fetchInitialData() {
          $.ajax({
            url: "/",
            type: "GET",
            dataType: "json",
            success: function (initialData) {
              // Format initial data for Chart.js
              var formattedData = {
                x: new Date(initialData.x * 1000), // Convert timestamp to milliseconds
                y: initialData.y,
              };
              // Update chart with initial data
              updateChart(formattedData);
            },
            error: function (xhr, status, error) {
              console.error("Error fetching initial data:", error);
            },
          });
        }

        // Fetch initial data when the page loads
        fetchInitialData();

        // Function to fetch data from backend
        function fetchData() {
          $.ajax({
            url: "/scatterplot-data/",
            type: "GET",
            dataType: "json",
            success: function (data) {
              // Convert timestamp to Date object
              var formattedData = {
                x: new Date(data.x * 1000), // Convert timestamp to milliseconds
                y: data.y,
              };
              // Update chart with new data
              updateChart(formattedData);
            },
            error: function (xhr, status, error) {
              console.error("Error fetching data:", error);
            },
          });
        }

        // Fetch data every # second
        setInterval(fetchData, 1000);
      });
    </script>
  </body>
</html>
